.project
.settings
.classpath
target
target-eclipse
.DS_Store
dependency-reduced-pom.xml
*~
*~~
pom.xml.releaseBackup
/release.properties
/coding-style
.pmd
.pmdruleset.xml
interpolated-pom.xml
.eclipse-pmd
.*.swp
.checkstyle
hs_err_pid*.log
.idea
/*.dll
/*.so
/jux.bat
